/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/wp1974261.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

app-root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}